<div>    
    <p-toast position="top-right"></p-toast>
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <div class="logo custom-mr-2">Library management</div>
      <p-button
        icon="pi pi-bars"
        [text]="true"
        severity="secondary"
        class="custom-mr-2"
        (click)="sidebarVisible = true"
      ></p-button>
    </div>
    <div class="p-toolbar-group-end"></div>
  </p-toolbar>
  <p-sidebar [(visible)]="sidebarVisible">
    <app-menu></app-menu>
  </p-sidebar>

  <div style="flex: 1 1 auto">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
      "
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
